<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta name="format-detection" content="telephone=no">
		<base href="/h5/">
		<link rel="stylesheet" href="css/root.css">
		<link rel="stylesheet" href="css/base.css">
		<script src="scripts/common/jquery-2.0.3.min.js"></script>
		<link rel="stylesheet" href="css/product/product.module.css">

		<title>多肉理财</title>
	</head>

	<body>
		<article class="fixed_productDtls_container greyBg" id="fixed_productDtls_container" v-cloak>
			<header class="f-cb">
				<a href="html/activities/index.html" class="f-fl">
					<img src="images/back.png" alt="" class="returnArrow">
				</a>
				<span>{{ productData.targetName }}</span>
			</header>
			<section class="benefitInfo">
				<div>
					<div class="f-cb">
						<p class="f-fl">预期年化收益率</p>
						<em class="f-fr day-txt-bg">期限{{targetDay}}天</em>
					</div>
					<p>{{ productData.yearRateStr }}<span v-if="productData.regularTargetAppendRate">+ {{productData.regularTargetAppendRate.appendYearRate}}</span><span>%</span>
						<em class="targetActivityBg" v-if="productData.regularTargetAppendRate">{{productData.regularTargetAppendRate.appendLable}}</em>
					</p>
				</div>
				<ul class="progressBlock" v-show="barStatus">
					<li>
						可投金额： <span class="available_amount">{{productData.targetAmount - productData.availableAmount}}元</span>
					</li>
					<li class="progressBar">
						<p></p>
					</li>
				</ul>
			</section>
			<p class="horLine"/>
			<section class="proj-during-time">
				<ul class="f-cb">
					<li class="f-fl">
						<span class="prt-value">起息日期</span>
						<span class="prt-value">{{productData.beginDate}}</span>
					</li>
					<li class="f-fr">
						<span class="prt-value">到息日期</span>
						<span class="prt-value">{{productData.endDate}}</span>
					</li>
				</ul>
			</section>
			<section class="product_Buy">
				<p class="beginLink f-cb">起购金额： <span class="f-fr">{{productData.minAmount}}元</span></p>
				<div class="intro">
					<p>收益方式</p>
					<p>到期一次性还本付息，资金在到期后的1-3个工作日内到账</p>
				</div>

			</section>
			
			<!-- TODO -->
			<section class="product_introduction">
				<div class="f-cb firstLine">
					<a href="html/product/fixed_product/fixed_product_information.html?targetId={{productData.targetId}}" class="f-fl">
						<img src="images/pdt_detail.png" alt="" class="pi_icon">
						<span style="margin-left: 2rem;">产品详情</span>
					</a>
					<!--<a href="http://www.51vest.com/security_assurance/index.html" class="f-fl">-->
					<a href="html/product/security_assurance.html" class="f-fl">
						<img src="images/security_assurance.png" alt="" class="pi_icon">
						<span style="margin-left: 2rem;">安全保障</span>
					</a>
				</div>
				<div class="f-cb secondLine">
					<!--<a href="http://www.51vest.com/project_summarize/index.html" class="f-fl">-->
					<a href="html/product/project_summarize.html" class="f-fl">
						<img src="images/project_summarize.png" alt="" class="pi_icon">
						<span style="margin-left: 2rem;">项目概述</span>
					</a>
					<a href="html/product/fixed_product/fixed_invest_record.html" class="f-fl">
						<img src="images/product_detail.png" alt="" class="pi_icon">
						<span style="margin-left: 2rem;">投资记录</span>
					</a>
				</div>
			</section>
			<div style="background-color: #f2f2f2;height: 12.6rem;"></div>
			<aside style="position: absolute;width: 100%;bottom: 0">
				<img src="images/pdt_risk.png" alt="" class="pdt_risk">
				<div class="f-cb">
					<a href="html/product/fixed_product/calculator.html" class="calculateBtn f-fl">
						<img src="images/calculater.png" alt="">
					</a>
					<a href="html/product/fixed_product/fixed_invest_money.html" class="investBtn f-fl">立即投资</a>
				</div>

			</aside>
		</article>
		<script src="scripts/common/vue.js"></script>
		<script src="scripts/common/vue-resource.min.js"></script>
		<script src="scripts/common/custom-function.js"></script>
		<script src="scripts/product/fixed_product/fixed_session_storage.js"></script>
		<script src="scripts/product/fixed_product/fixed_product_details.js"></script>
		<script src="scripts/common/baiduScript.js"></script>
	</body>
</html>