<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <base href="/h5/">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/base.css">
    <script src="scripts/common/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="css/user/user.module.css">

    <title>设置新密码</title>
</head>
<body>
    <article class="user-common-container" id="user-setNewpsw-container">
        <header class="f-cb">
            <a href="javascript:history.go(-1)" class="f-fl">
                <img src="images/back.png" alt="" class="returnArrow">
            </a>
            <span>设置新密码</span>
        </header>
        <section>
            <p>已发送短信验证码至手机<span>{{ mobile }}</span></p>
            <div class="form-input-box">
                <label class="form-label">短信验证码</label>
                <input class="phoneNum" type="text" placeholder="请输入短信验证码"  style="text-indent: 10rem;" v-model="smsText">
                <button class="sendBtn" v-on:click="sendSms">重发</button>
            </div>
            <div class="form-input-box">
                <label class="form-label">新密码</label>
                <input class="password" type="text" placeholder="请输入6-16位数字或字母" v-model="password">
                <a href="javascript:;" class="switch">
                    <img src="images/eyelash_assets.png" class="eyeClose" alt="">
                    <img src="images/eye_assets.png" class="eyeOpen" style="display: none;" alt="">
                </a>
            </div>
            <button class="loginBtn" v-on:click="setPassword">完成</button>
        </section>
    </article>
</body>
<script src="scripts/common/vue.js"></script>
<script src="scripts/common/vue-resource.min.js"></script>
<script src="scripts/common/custom-function.js"></script>
<script src="scripts/user/setNewPsw.js"></script>
</html>