<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <base href="/h5/">
    <script src="scripts/common/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/myCenter/myCenter.module.css">
    
    <title>认证绑卡</title>
</head>
<body  style="background-color:#f7f7f7;">
<article class="bind-card-container" id="bind-card-container" v-cloak>
    <header class="f-cb">
        <a v-bind:href="lastUrl" class="f-fl">
            <img src="images/back.png" alt="" class="returnArrow">
        </a>
        <span class="title">认证绑卡</span>
    </header>
    <section>
        <div class="form-input-box">
            <label class="form-label">持卡人姓名</label>
            <input class="cardName" type="text" placeholder="请输入真实姓名" v-model="postData.idHolder">
        </div>
        <div class="form-input-box">
            <label class="form-label">身份证号码</label>
            <input class="idNumber" type="text" placeholder="请输入身份证号码" v-model="cardid">
        </div>
        <div class="form-input-box">
            <label class="form-label">开户行</label>
            <a class="openBank" href="javascript:;" v-on:click="choseBank">
            	<span>{{ bankName }}</span>
                <img class="arrowsRight" src="images/arrows_right.png" />
            </a>
        </div>
        <div class="form-input-box">
            <label class="form-label">储蓄卡号</label>
            <input class="bankNumber" type="number" placeholder="请输入储蓄卡号" v-model="postData.accNo">
        </div>
        <div class="form-input-box">
            <label class="form-label">预留手机号</label>
            <input class="phoneNum" type="number" placeholder="请输入预留手机号" v-model="postData.mobile">
        </div>
        <button id="bindCard" class="bindCard" v-on:click="bindCard" disabled="true">确认绑卡</button>
        <div class="hint-msg">
            为了保障您的资金安全，持卡人必须和实名认证一致，充值提现必须同卡进出，若绑定成功，此卡将作为您唯一用于充值和提现的银行卡
        </div>
    </section>
</article>
</body>
<script src="scripts/common/custom-function.js"></script>
<script src="scripts/common/vue.js"></script>
<script src="scripts/common/vue-resource.min.js"></script>
<script src="scripts/myCenter/bindCard.js"></script>

</html>